<!DOCTYPE html>
<html>
<head>
  <title>Welcome Email</title>
</head>
<body>
  <h1>Hi <%= name %>!</h1>
  <p>Welcome to our platform. We are excited to have you here.</p>
  <p>Best regards, <br/> The Team</p>
</body>
</html>
